@use './blocks/button';
@use './blocks/stars';
@use './blocks/price';
@use './blocks/review';
@use './blocks/code';
@use './blocks/name';
@use './blocks/imgcard';
@use './blocks/card';
@use './blocks/header.scss';
@use './blocks/container.scss';
@use './utils/variables.scss' as *;

body {
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: Roboto, sans-serif;
  display: flex;
}

// nav ---------------------------------------------------

// .nav {
//   di
// }

//  container ------------------------------------------------
// @media (max-width: 250px){
//   .container {
//     grid-template-columns: auto
//   }
// }
@media (max-width: 487px) {
  .container {
    grid-template-columns: auto;
  }
}

@media (min-width: 488px) {
  .container {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 769px) {
  .container {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: auto auto auto auto;
  }
}
